<%= layout do %>
  <%= content_block(class_name: 'p-6 bg-gray-100') do %>
    <%= stack(gap: 6, align: :center) do %>
      <%= heading(size: "big") do %>
        BJJ Rolls
      <% end %>

      <p>Help your team off the mats by sharing training footage.</p>

      <%= button(id: "cta-signup", href: gyms_path, size: :xl) do %>
        Find your gym
      <% end %>
    <% end %>
  <% end %>
<% end %>
